@import '~antd/dist/antd.css';

/* .d-flex {
    display: flex!important;
  
    padding: 0.5rem;
    align-items: center;
   

}
.justify-content-between {
    justify-content: space-between!important;
}
a {
    color: #0d6efd;
    text-decoration: underline;
}
header .logo img {
    height: 45px;
    transition: .4s;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
    vertical-align: middle;
}
div {
    display: block;
}
header .menu {
    position: relative;
}
.menu{
    display: flex;
    align-items: center;
}
.col-lg-7 {
    flex: 0 0 auto;
    width: 58.333333%;
}
.col-md-12 {
    flex: 0 0 auto;
    width: 100%;
}
.col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
} */

.wg-header {
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
    flex-wrap: wrap;
    align-items: center;
    /* position: absolute; */
    /* top: 1rem; */
    /* right: 1.5rem; */
    /* left: 1.5rem; */
    /* box-shadow: 2px 2px 2px #961313; */
    /* margin: 1rem; */
    /* margin-top: 12px; */
    /* border-radius: 10px; */
    /* background-color: rgb(175, 38, 38); */
    /* background-color: #fff; */
   
}
header.sticky {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    color: #606060;
    margin: 0;
    padding: .35rem 6.25%!important;
    width: 100%;
}
header, header.sticky {
    background: #fff;
    transition: .4s;
}
header {
    border-radius: .35rem;
    box-shadow: 0 1px 10px 0 #00000030;
    margin: 16px 6.25% 0;
    /* padding: .35rem .5rem; */
    position: fixed;
    top: 0;
    width: 87.5%;
    /* z-index: 99; */
}
.menu-section{
    /* background-color: rgb(175, 38, 38); */
    border: none;
}