.pb-5 {
    padding-bottom: 3rem!important;
}
.mb-5 {
    margin-bottom: 3rem!important;
}
section {
    display: block;
}

.cd-container {
    margin: auto;
    max-width: 1680px;
    width: 87.5%;
    /* width: var(--cd-container-width); */
}
/* div {
    display: block;
} */
.text-center {
    text-align: center!important;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    /* flex: 1 0 100%; */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 100%;
    flex-wrap: wrap;
    margin-left: calc(var(--bs-gutter-x)/-2);
    margin-right: calc(var(--bs-gutter-x)/-2);
    margin-top: calc(var(--bs-gutter-y)*-1);
}
.data-card-color {
    background-color: #fff9f2;
}
.rounded-lg {
    border-radius: .3rem!important;
}
.pt-4 {
    padding-top: 1.5rem!important;
}
.px-4 {
    padding-left: 1.5rem!important;
    padding-right: 1.5rem!important;
}
.mb-4 {
    margin-bottom: 1.5rem!important;
}
.col-lg-4 {
    flex: 0 0 auto;
    width: 33.333333%;
}
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}
.col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
}
/* .row>* {
    flex-shrink: 0;
    margin-top: var(--bs-gutter-y);
    max-width: 100%;
    padding-left: calc(var(--bs-gutter-x)/2);
    padding-right: calc(var(--bs-gutter-x)/2);
    width: 100%;
} */
.data-card img {
    height: 100px;
}
.zoom img, .zoom video {
    transition: all .2s linear;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: linear;
    transition-delay: 0s;
}
.mb-2 {
    margin-bottom: .5rem!important;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
    vertical-align: middle;
}
.h3, h3 {
    font-size: 1.75rem;
}
.h3, h3 {
    font-size: calc(1.3rem + .6vw);
}
.w-100 {
    width: 100%!important;
}
p {
    margin-bottom: 1rem;
    margin-top: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.py-5 {
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
}
.my-5 {
    margin-bottom: 3rem!important;
    margin-top: 3rem!important;
}
.text-center {
    text-align: center!important;
}
.font-weight-bold {
    font-weight: 700!important;
}
.display-4 {
    font-size: 3.5rem;
}